   @media (max-width: 400px) {
       #monthYear {
           font-size: 20px;
       }
       .days-of-week div p {
           font-size: 10px;
       }
       .days {
           font-size: 10px;
       }
       .calendar {
           width: 100%!important;
           margin: auto!important;
       }
       .calendar-bottom {
           margin: auto;
           width: 100%!important;
       }
       .booking {
           width: 100%;
           display: flex;
           flex-direction: column;
           row-gap: 20px;
       }
       .booking input {
           width: 70%;
           margin: auto;
           padding: 0px;
       }
       .booking label {
           color: white;
           font-size: 17px;
       }
   }